<div id="landing">
  <div class="landing-title">
  <!-- <h1>Hi, I&#39;m -->
    <h1>
      <span class="highlight-title">{{site.username}}</span>,
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "scroll down for more."]'
      >
      </span>
    </h1>
    <div class="landing-icons">
      {% if site.email != null %}
        <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}""></use>
            </svg>
          </div>
          <span class="label">E-Mail</span>
        </a>
      {% endif %}

      {% if site.github_username != null %}
        <a class="social-link github" aria-label="My GitHub" target="_blank" rel="noreferrer"
          href="https://github.com/{{site.github_username}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GitHub</span>
        </a>
      {% endif %}

      {% if site.gscholar_username != null %}
        <a class="social-link gscholar" aria-label="Google Scholar" target="_blank" rel="noreferrer"
          href="https://scholar.google.com/citations?{{site.gscholar_username}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#graduation-cap" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GScholar</span>
        </a>
      {% endif %}

      {% if site.kaggle_username != null %}
        <a class="social-link kaggle" aria-label="My Kaggle" target="_blank"
          rel="noreferrer" href="https://kaggle.com/{{site.kaggle_username}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#kaggle" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Kaggle</span>
        </a>
      {% endif %}

      {% if site.linkedin_username != null %}
        <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank"
          rel="noreferrer" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">LinkedIn</span>
        </a>
      {% endif %}

      {% if site.blog_username != null %}
        <a class="social-link blog" aria-label="My DEV" target="_blank" rel="noreferrer"
          href="https://blog.{{site.blog_username}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#newspaper" | prepend: site.baseurl }}"></use>
          </div>
          <span class="label">Blog</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
