<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.email != null %}
  <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.github_username != null %}
  <a class="social-link github" aria-label="My GitHub" target="_blank" rel="noreferrer"
    href="https://github.com/{{site.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.gscholar_username != null %}
  <a class="social-link gscholar" aria-label="My GoogleScholar" target="_blank" rel="noreferrer"
    href="https://scholar.google.com/{{site.gscholar_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#graduation-cap" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.blog_username != null %}
  <a class="social-link blog" aria-label="My Blog" target="_blank" rel="noreferrer"
    href="https://blog.{{site.blog_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#newspaper" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.linkedin_username != null %}
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
    href="https://www.linkedin.com/in/{{site.linkedin_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.twitter_username != null %}
  <a class="social-link twitter" aria-label="My Twitter" target="_blank" rel="noreferrer"
    href="https://twitter.com/{{site.twitter_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
</div>
